<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.senses.permission.mapper.ResetPasswordHistoryMapper">
    <resultMap type="com.senses.permission.entity.ResetPasswordHistory" id="ResetPasswordHistoryMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="resetPasswordUrl" column="reset_password_url" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
        <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
        <result property="userId" column="user_id" jdbcType="BIGINT"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
    </resultMap>
</mapper>