**/__pycache__/**
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
*.egg-info/
.env.local
temp_test_issues.txt
.~**.xlsx
**.xlsx
**/**.pyc
src/utils/log/*
src/logs/*
**/.DS_Store
.DS_Store
src/project_config.ini
notebook/**
src/data/*
script/payload*.sh
tests/knowledgebase/logs/**
logs/**
.idea
.venv
*.tar
CLAUDE.md
cases.docx
docx_content.txt
*.docx
.cat/
docs/
